/************************************
 * Overall
 ************************************/
*{
    font-family: sans-serif;
    color:#fff;
}

.divider{
    border:1px solid #456;
    width:100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* GRID ********************************/
.col-24{
    float:left;
    margin-left:5px;
    width:24%;
}

.col-72{
    float:left;
    margin-left: 5px;
    width:72%;
}

/* NAV *********************************/
nav li{
    padding:10px;
    background-color: #234;
    border-bottom:1px solid #456;
    cursor: pointer;
    font-weight: lighter;
    font-size: 13px;
}

nav li:hover{
    background-color:#456;
    padding:13px;
}

.nav-hover{
    background-color:#456;
    padding:13px;
    font-weight: bold;
}
/* POSITIONING *************************/
.pull-right{float:right;}
.pull-left{float:left;}

.text-center{text-align: center}
.text-right{text-align: right}

.margin-10{margin:10px;}
.margin-20{margin:20px;}

.padding-10{padding:10px;}
.padding-15{padding:15px;}
.padding-20{padding:20px;}

.padding-left-20{padding-left:20px;}
.padding-left-15{padding-left:15px;}
.padding-left-10{padding-left:10px;}

/* FONT SIZES **************************/
.text-11{font-size:11px}
.text-12{font-size:12px}
.text-20{font-size:20px}

/* FONT WEIGHTS ************************/
.text-lighter{font-weight: lighter;}
.text-bold{font-weight: bold;}
.text-bolder{font-weight: bolder;}

/* FONT COLORS *************************/
.text-black{color:#000;}
.text-desaturated-blue{color:#345;}
.text-very-dark-blue{color:#234;}

/* BACKGROND COLORS *************************/
.warning-bg{background-color:#FFD24D;}
.danger-bg{background-color:#FF4D4D;}
.success-bg{background-color:#73FF96;}

/************************************
 * Table
 ************************************/

.table tr{
    vertical-align: middle;
    font-size:12px;
    cursor: pointer;
}

.table th{
    background-color:#234;
    padding:10px;
}

.table td{
    background-color:#ccc;
    padding:10px;
    color:#345;
    text-align: right;
}

.table-hover td:hover{
    background-color:#ccd;    
}


/************************************
 * Top Header
 ************************************/
#top_header{
    position: absolute;
    background-color:#234;
    width:100%;
    height:15%;
    left:0px;
    top:0%;
    border-bottom: solid 2px #567;
}

#top_logo{
    float:left;
    width:100px;
    height:100px;
    background-color: #fff;
}


#software_name{
    float:right;
    padding:10px;
    padding-top:40px;
    font-size:14px;
}
/************************************
 * Container
 ************************************/
#container{
    position: absolute;
    background-color:#345;
    width:100%;
    height:80%;
    left:0px;
    top:15.3%;
}

#home_icons{
    margin:0px auto;
    width:70%;
    height:120px;
}

#home_statistics{
    margin: 0px auto;
    width:70%;
}


/************************************
 * Container Class
 ************************************/

.container{
    position:relative;
    padding:10px;
}

/************************************
 * Well Class
 ************************************/

#inner-content{
    display:none;    
}

/************************************
 * Well Class
 ************************************/

.well{
    background-color:#ccc;
    border:#456;
    border-radius:20px;
    cursor: pointer;
}

.well:hover{
    /*box-shadow: 1px 1px 10px #fff;*/
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.col-header{
    background-color: #ccc;
    border:#456;
    width:100%;
}
/************************************
 * Large Icon Class
 ************************************/

.large-icon{
    width:90px;
    height:90px;
    padding:10px;
}

/************************************
 * Form Class
 ************************************/

.input{
    padding:10px;
    border:1px solid #345;
    color:#345;
}

/************************************
 * Loading
 ************************************/
.loading{
    position:absolute;
    width:55px;
    height:64px;
    left:50%;
    margin-top:15%;
    z-index: 10;
    display:none;
}

/************************************
 * Alert
 ************************************/
.alert{
    position:absolute;
    width:72%;
    height:30px;
    top:0px;
    z-index:8;
    display: none;
}

.alert p, .alert strong{
    font-size: 12px;
    text-align: center;
    color:#345;
}

.error-border{
    border:3px dashed red;    
}

/************************************
 * Order Display
 ************************************/
#order_products_display{
    display:none;   
}

td.order_view_details_btn{
    background-color:#234;
    font-weight:bold;
}

td.order_view_details_btn:hover{
    font-weight:lighter;
    background-color:#345;
    color:#234;
}

td.order_approve_btn{
    background-color:green;
    font-weight:bold;
}

td.order_approve_btn:hover{
    font-weight:lighter;
    background-color:darkgreen;
    color:#234;
}

td.order_decline_btn{
    background-color:red;
    font-weight:bold;
}

td.order_decline_btn:hover{
    font-weight:lighter;
    background-color:darkred;
    color:#234;
}
/************************************
 * Footer
 ************************************/
#footer{
    position: absolute;
    background-color:#000;
    width:100%;
    height:5%;
    left:0px;
    top:95%;
}
